/* html,bodyタグの設定 */
html, body {
  margin: 0;
  padding: 0;
  width:100%;
  /*width: 1366px;*/
  height:100%;
}
/* ヘッダーの固定 */
header.header-fixed {
  position: fixed;            /* ヘッダーの固定 */
  top: 0px;                   /* 位置(上0px) */
  left: 0px;                  /* 位置(右0px) */
  width: 100%;                /* 横幅100%　*/
  /*height: 140px; */             /* 縦幅140px */
  height: 100px;
}
div#header-bk {
	/*background-color:#444;*/     /* 背景色(黒) */
	padding:10px 0 20px;       /* 上10px、下20pxをあける */
	height: 70px          /* 縦の高さ110px */
	width:100%;                /* 横の幅を100% */
}
div#header {
	/*border: 5px solid #fff; */   /* 表示領域を白枠で囲う */
	height: 100%;              /* 縦の表示領域はheader-bkと同じ */
	width: 960px;              /* 横の幅970px */
	margin: auto;              /* 中央揃え */
  display: flex;
}
header {
  border-bottom: 1px solid #cccccc;
  /*display: flex;*/
}
.header_top {
  /*height: 40px;*/
  display: flex;
}
.logo_header {
  width: 300px;
  flex: 1;
}
.logo_header_img {
  width: 300px;
}
.dummy_header {
  flex: 1
}
.search_header {
  flex: 1;
  text-align: right;
}
/*.header_list {
  height: 20px;
}*/

/* ボディの定義 */
/*div#body-bk{*/
    /*footerの高さを修正すること*/
    /*padding:160px 0 160px 0; */   /* 上下に160pxを余白を取る */*/
    /*padding:120px 0 120px 0;
}*/
/*div#body{
  width: 960px;
  margin: 0 auto;
}*/
.main_picture {
  width: 960px;
  /*width: 100%;*/
  height: 400px;
  /*display: container;*/
}
/*body {
  min-width: 960px;
}*/
/*.box {
  width: 1366px;
  margin: 0 auto;
}
header {
  border-bottom: 1px solid #cccccc;
}
/*main {
  padding-top: 50px;
}*/
